{% extends 'homepage/base.html' %}

{% load static %}

{% block body %}
    <div id="index" class="container-fluid text-center">
        <div class="landing">
        <img src="{% static 'homepage/logo white 1.png' %}" class="img-fluid" width="100px">
        <h1 style="color: white;">Beli Semua di Shopepew</h1>
        <div class="container">
            <form>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <input class="form-control" type="search" placeholder="" aria-label="Search">
                    </div>
                    <button class="btn btn-custom my-2 my-sm-0" type="submit" style="background-color: #4e1a5c;">Search</button>
                </div>
            </form>
            <a href="product"><button class="btn btn-custom btn-lg my-2 my-sm-0">Shop Now</button></a>
        </div>
        </div>
    </div>
{% endblock %}