{% extends 'homepage/base.html' %}

{% block body %}
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            {% for item in items %}
                <div class="col-sm-3">
                    <div class="card" style="height: 350px;">
                        <img src="{{item.imglink}}" class="img-fluid mx-auto d-block" width="170px">
                        <div class="card-body">
                            <a href="{{item.id}}">
                                <h5 class="card-title">{{item.name}}</h5>
                            </a>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text text-right">{{item.price}}$</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}