{% extends 'homepage/base.html' %}

{% block body %}
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{items.imglink}}" class="img-fluid mx-auto d-block" width="400px">
            </div>
            <div class="col-sm-6">
                <h1>{{items.name}}</h1>
                <h3 style="background-color: #4E1A5C; color: white;">{{items.price}}$</h3>
                <p>{{items.desc}}</p>
                <p>Stok: {{items.stok}}</p>
                <button class="btn btn-custom my-2">Beli Sekarang</button>
            </div>
        </div>
    </div>
    <div style="background-color: #4E1A5C; color: white; padding: 20px; margin-top: 50px">
        <h1>What they said.</h1>
    </div>
    <div style="background-color: #220229; color: white; padding: 100px">
        <p>Insert review here</p>
    </div>
{% endblock %}