#index {
    height: 100vh; 
    background-color: #8b5798;
}

.landing {
    display: block;
    top: 50%;
    transform: translate(0,50%);
}

#checkout {
    padding: 5rem 0;
}

#checkout card {
    font-family: 'Roboto';
}

#checkout .circle{
    background-color: #E0E0E0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#checkout h4 {
    color: #E0E0E0;
}

