a.nav-custom {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

a.nav-custom:hover {
    opacity: 65%;
}

button.btn-custom {
    color: white;
    background-color: #9e4065;
}

button.btn-custom:hover {
    background-color: #8B5798;
}

.navbar-logo{
    height: 48px;
    width: auto;
}

.navbar-adjust {
    padding: 0 .5rem;
    min-height: 50px;
}