{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container-fluid d-flex align-items-center min-vh-100" style="height: 200px; background-color: #8b5798; padding-top: 30vx;">
        
        <div class="container-fluid text-center">

            <h1 class="display-3">TODAY'S DEAL!</h1>
        </div>
    </div>

    <div class="container-fluid d-flex align-items-center min-vh-100" style="height: 200px; background-color: #8b5798;">
        
        <div class="container-fluid text-center">

            <form action="#" method="POST">
                {% csrf_token %}

                {{form|crispy}}
                <input type="submit" value="Submit">
            </form>

            <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Expiry Date</th>
                        <th>Name</th>
                        <th>Persen Diskon</th>
                        <th>Harga Minimum</th>
                        <th>Kode Promo</th>
                    </tr>
                </thead>

                <tbody>
                    {% for promo in promos %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{promo.expiredDate}}</td>
                            <td>{{promo.name}}</td>
                            <td>{{promo.diskon}}</td>
                            <td>{{promo.hargaMinimum}}</td>
                            <td>{{promo.kodePromo}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
{% endblock %}