{% extends 'homepage/base.html' %}

{% load static %}

{% block title %} Shopepew | Checkout {% endblock %}

{% block body %}
<div id="checkout" class="container">

<!------------ SHOPPING CART ------------>
<div class="cart d-flex flex-row align-items-center"><div class="circle m-2"></div><h4>Shopping Cart</h4></div>
<div class="row cart">
    <div class="col-md-8">
        <div class="card" style="max-width:100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1460627390041-532a28402358?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img" alt="#">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Product Name</h5>
                        <p class="card-text">Rp100.000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------ SHIPPING DETAILS ------------>
<div class="cart d-flex flex-row align-items-center"><div class="circle m-2"></div><h4>Shipping Details</h4></div>
<div class="row shipping">
    <div class="col-md-8">
        <div class="d-flex flex-column flex-wrap">
            {{ form }}
        </div>
        <hr>
        <fieldset id="shipping">
        <div class="frb-group d-flex flex-row align-items-start justify-space-between">
            <div class="frb frb-primary" style="width: 45%">
                <input type="radio" id="shipping-0" name="shipping" value="shipping0">
                <label for="shipping-0">
                    <span class="frb-title">Regular Shipping</span>
                    <span class="frb-description">2 - 3 working days</span>
                </label>
            </div>
            <div class="frb frb-primary" style="width: 45%">
                <input type="radio" id="shipping-1" name="shipping" value="shipping1">
                <label for="shipping-1">
                    <span class="frb-title">Next Day Service</span>
                    <span class="frb-description">Arrive tomorrow!</span>
                </label>
            </div>            
        </div>
        </fieldset>
    </div>
</div>

<!------------ PAYMENT METHOD ------------>
<div class="cart d-flex flex-row align-items-center"><div class="circle m-2"></div><h4>Payment Method</h4></div>
<div class="row method">
    <div class="col-md-8">
        <fieldset id="payment-method">
        <div class="frb-group d-flex flex-row align-items-start justify-space-between">
            <div class="frb frb-primary" style="width: 45%">               
                <input type="radio" id="payment-method-3" name="payment-method" value="pay3">
                <label for="payment-method-3">
                    <span class="frb-title">GoPay</span>
                    <span class="frb-description">Pay without hassle, powered by GoJek</span>
                </label>
            </div>
            <div class="frb frb-primary" style="width: 45%">
                <input type="radio" id="payment-method-4" name="payment-method" value="pay4">
                <label for="payment-method-4">
                    <span class="frb-title">Debit Card</span>
                    <span class="frb-description">Insert your payment details upon checkout.</span>
                </label>                       
            </div>
            </div>
        </div>
        </fieldset>
    </div>
</div>
{% endblock %}

{% block css %}
.frb-group {
	margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
	display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
	font-family: FontAwesome;
	content: '\f096';
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 15px;
	font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
	content: '\f046';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
	position: relative;
	cursor: pointer;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="checkbox"] ~ label:focus,
.frb input[type="checkbox"] ~ label:hover {
	box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
	color: #fafafa;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
	background-color: #f2f2f2;
}

.frb.frb-primary input[type="radio"]:checked ~ label,
.frb.frb-primary input[type="checkbox"]:checked ~ label {
	background-color: #337ab7;
}

.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
	display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {
	font-size: 16px;
	font-weight: 700;
	margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty ~ label span.frb-description,
.frb input[type="checkbox"]:empty ~ label span.frb-description {
	font-weight: normal;
	font-style: italic;
	color: #999;
	margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked ~ label span.frb-description,
.frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
	color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
	color: #999;
}
{% endblock %}