{% load static %}
<nav class="navbar navbar-adjust navbar-expand-lg navbar-dark fixed-top" style="background-color: #4e1a5c!important;">

    <a class="navbar-brand" href="../"><img class="navbar-logo" src="{% static 'homepage/navbar-logo.svg' %}"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-sm">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mr-auto">
        </ul>
        <a class="nav-custom" href="../">Home</a>
        <br>
        <a class="nav-custom" href="../promo">Promos</a>
        <br>
        <a href="../product"><button class="btn btn-custom my-2">Shop</button></a>
   </div>
</nav>
